<div class="container mt-5">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1> Comboの紹介</h1>
      <p>このサイトの名前の由来は<strong>Complaint Box</strong>から来ており、不満や意見を聞くための</p>
      <p>匿名で投稿できる目安箱サイトです！</p>
      <p>このサイトは普段、従業員の方が直接だと言いづらいような業務内容の不満や改善して欲しいところなどの</p>
      <p>意見を言えるようにするためのサービスです</p>
      <p>会員登録時には氏名が登録されますが、投稿は<strong>匿名</strong>になりますのでご安心ください！</p>
      </div>
    </div>
  </div>
</div>