<div class="container mt-4 pb-4">
  <h4 class="mb-4"><%= @user.name %>さんのユーザー状況の変更</h4>

  <div class="row mb-4">
    <label class="col-lg-3">ユーザーID</label>
    <div class="col-lg-4">
      <%= @user.id %>
    </div>
  </div>
  <%= render 'form', user: @user %>
</div>